# Git
.git
.gitignore

# Docker
.docker

# Python
project_code/__pycache__/
project_code/*/__pycache__/
project_code/*/*/__pycache__/
project_code/*/*/*/__pycache__/
.env/
.venv/
venv/

# Local PostgreSQL data
data/